/* navigation */

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
	-webkit-box-shadow:none;
  z-index: 100;
  height: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.wrapper {
  padding-left: 35%;
  padding-right: 35%;
}

.line-break {
  border: 1px solid #E6E3E2;
}

.navigation ul.navigation--menulist > li, #navigation-sticky-wrapper .navigation .navigation--menulist > ul > li
{
	margin-right: 18px;
	padding-right: 18px;
}



.navigation--menulist {
  color: #ffffff;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.XS-text {
  text-decoration: none;
      color: #000000;
    font-size: 1em;
    /*font-weight: 600;*/
}

.upAnimHover {
  display: inline;
  padding: 0.3em;
}

/*@media screen and (min-width: 800px) {*/
  .navigation--menulist li a:hover{
    border-bottom: 0.1em solid #000000;
    color:#000000;
  }
/*}*/

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400');

@font-face{font-family:'Titillium Web';font-style:normal;font-weight:200;src:local('Titillium WebThin'),local('TitilliumWeb-Thin'),url(https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wprzS7C564OTp_INgXTr8EAGg.woff2) format('woff2');unicode-range:U+0100-024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Titillium Web';font-style:normal;font-weight:200;src:local('Titillium WebThin'),local('TitilliumWeb-Thin'),url(https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wprwncwICprNeqbmuPE2HfhOU.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215}@font-face{font-family:'Titillium Web';font-style:normal;font-weight:700;src:local('Titillium WebBold'),local('TitilliumWeb-Bold'),url(https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr6nZAMwsGZpiGJKtVINElMQ.woff2) format('woff2');unicode-range:U+0100-024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Titillium Web';font-style:normal;font-weight:700;src:local('Titillium WebBold'),local('TitilliumWeb-Bold'),url(https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr8hG3LOB74UqS1hPmWaAxzQ.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215}
